@charset "utf-8";
/* CSS Document */
.header{background-color:#f8f8f8;}
.line{text-align: center;margin-top:.48rem;}
.padding-lr48
{
	padding:0 .48rem;
}
.padding-tb48
{
	padding: .48rem 0;
}
.offset-top2
{
	margin-top: .2rem;
}
.offset-top48
{
	margin-top: .48rem;
}
.offset-top56
{
	margin-top: .56rem;
}
/*--布局模块--*/
.clearfix,.row{
    *zoom: 1;
}

.clearfix:after,.row:after{
    content: "";
    display: table;
}

.clearfix:after,.row:after{
    clear: both;
}

.f-clear {
    clear: both;
}

.f-ts-center {
    text-align: center;
}

.f-ts-left {
    text-align: left;
}

.f-fl,
.f-fr {
    _display: inline;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}
/*--两列布局--*/
.row-grid-two,.row-grid-three{
	padding: .48rem;
    overflow: hidden;
}
.row-grid-two>li,.row-grid-three>li{
	position: relative;
	float: left;
    display: block;
    border-bottom: 0 none;
    background: #fff;
    padding: 0;
}
.row-grid-two li{
    margin: 0 2% .32rem 0;
    width: 49%;
}
.row-grid-two li:nth-child(2n),.row-grid-three li:nth-child(3n){
    margin-right: 0;
}

.row-grid-three li{
    margin: 0 1.5% .32rem 0;
    width: 32.3333%;
}
/*--内容模块--*/
.result{overlow:hidden;}
.result .img {
    width: 100%;
    height: auto;
}
.result .img img {
    width: 100%;
    min-height: 145px;
    height: auto;
    border: 0 none;
    display: block;
}
.text{padding: .28rem .32rem;}
.text .info{
	display: -webkit-box;
    margin-bottom: .08rem;
    
    height: 1.4rem;
    font-size: .48rem;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
	}